<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>AdminLoginPanel</h1>
    <form action="/adminLoginPanel" method="post">
        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" name="loginPanel[email]" placeholder="Enter the email">
        </div>
        <div>
            <label for="communityId">CommunityId:</label>
            <input type="text" id="communityId" name="loginPanel[communityId]">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password" name="loginPanel[password]">
        </div>
        <button>Login</button>
    </form>
</body>
</html> 