<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Membership-requests</h1>
    <div>
        <%for(let notification of notifications){%>
            <div><%=notification.content.name%></div>
            <div><%=notification.content.role%></div>
            <form action="/admindashboard/<%=notification._id%>/show" method="get">
                <button>see</button>
            </form>
        <%}%>
    </div>
</body>
</html>