<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/community/<%=community.id%>/login" method="post">
        <div style="margin-bottom: 3px;">
            <input type="email" name="email" class="form-control" placeholder="email" required>
        </div>
        <div style="margin-bottom: 3px;">
            <input type="password" name="password" class="form-control" placeholder="password" required>
        </div>
        <!-- <div>
            <input type="text" name="communityName" placeholder="communityName">
        </div> -->
        <button>login</button>
    </form>
</body>
</html>