<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Company Login</h1>
    <form action="/companyLogin" method="post">
        <div>
            <label for="employeeId">EmployeeId</label>
            <input id="employeeId" type="text" name="employeeId">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </div>
        <button>Login</button>
    </form>
</body>
</html>