<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Company Employee Approval</h1>
    <form action="/companyEmployeeApproval/3fcdbc7c-a72c-474a-bbba-4b7d373f550f" method="post">
        <div class="mt-3">
            <label for="name">Name</label>
            <input id="name" type="text" name="companyApproval[name]" required>
        </div><br>
        <div class="mt-3">
           <label for="employeeId">EmployeeId</label>
           <input type="text" name="companyApproval[employeeId]" id="employeeId" required>
        </div><br>
        <div>
            <label for="reason">Reason</label>
            <input type="text" name="companyApproval[reason]" id="reason" required>
        </div><br>
        <div>
            <label for="password">Password</label>
            <input type="password" name="companyApproval[password]" required>
        </div><br>
        <button>submit</button>
    </form>
</body>
</html>